.astro-ES6RJE63 *, .astro-ES6RJE63 :before, .astro-ES6RJE63 :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #c6c8cd;
  }
  .astro-ES6RJE63 :before, .astro-ES6RJE63 :after {
    --tw-content: "";
  }
  .astro-ES6RJE63 html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
  .astro-ES6RJE63 body {
    margin: 0;
    line-height: inherit;
  }
  .astro-ES6RJE63 hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }
  .astro-ES6RJE63 abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  .astro-ES6RJE63 h1, .astro-ES6RJE63 h2, .astro-ES6RJE63 h3, .astro-ES6RJE63 h4, .astro-ES6RJE63 h5, .astro-ES6RJE63 h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  .astro-ES6RJE63 a {
    color: inherit;
    text-decoration: inherit;
  }
  .astro-ES6RJE63 b, .astro-ES6RJE63 strong {
    font-weight: bolder;
  }
  .astro-ES6RJE63 code, .astro-ES6RJE63 kbd, .astro-ES6RJE63 samp, .astro-ES6RJE63 pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em;
  }
  .astro-ES6RJE63 small {
    font-size: 80%;
  }
  .astro-ES6RJE63 sub, .astro-ES6RJE63 sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  .astro-ES6RJE63 sub {
    bottom: -0.25em;
  }
  .astro-ES6RJE63 sup {
    top: -0.5em;
  }
  .astro-ES6RJE63 table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }
  .astro-ES6RJE63 button, .astro-ES6RJE63 input, .astro-ES6RJE63 optgroup, .astro-ES6RJE63 select, .astro-ES6RJE63 textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  .astro-ES6RJE63 button, .astro-ES6RJE63 select {
    text-transform: none;
  }
  .astro-ES6RJE63 button, .astro-ES6RJE63 [type=button], .astro-ES6RJE63 [type=reset], .astro-ES6RJE63 [type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
  .astro-ES6RJE63 :-moz-focusring {
    outline: auto;
  }
  .astro-ES6RJE63 :-moz-ui-invalid {
    box-shadow: none;
  }
  .astro-ES6RJE63 progress {
    vertical-align: baseline;
  }
  .astro-ES6RJE63 ::-webkit-inner-spin-button, .astro-ES6RJE63 ::-webkit-outer-spin-button {
    height: auto;
  }
  .astro-ES6RJE63 [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  .astro-ES6RJE63 ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .astro-ES6RJE63 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  .astro-ES6RJE63 summary {
    display: list-item;
  }
  .astro-ES6RJE63 blockquote, .astro-ES6RJE63 dl, .astro-ES6RJE63 dd, .astro-ES6RJE63 h1, .astro-ES6RJE63 h2, .astro-ES6RJE63 h3, .astro-ES6RJE63 h4, .astro-ES6RJE63 h5, .astro-ES6RJE63 h6, .astro-ES6RJE63 hr, .astro-ES6RJE63 figure, .astro-ES6RJE63 p, .astro-ES6RJE63 pre {
    margin: 0;
  }
  .astro-ES6RJE63 fieldset {
    margin: 0;
    padding: 0;
  }
  .astro-ES6RJE63 legend {
    padding: 0;
  }
  .astro-ES6RJE63 ol, .astro-ES6RJE63 ul, .astro-ES6RJE63 menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .astro-ES6RJE63 textarea {
    resize: vertical;
  }
  .astro-ES6RJE63 input::-moz-placeholder, .astro-ES6RJE63 textarea::-moz-placeholder {
    opacity: 1;
    color: #92959f;
  }
  .astro-ES6RJE63 input::placeholder, .astro-ES6RJE63 textarea::placeholder {
    opacity: 1;
    color: #92959f;
  }
  .astro-ES6RJE63 button, .astro-ES6RJE63 [role=button] {
    cursor: pointer;
  }
  .astro-ES6RJE63 :disabled {
    cursor: default;
  }
  .astro-ES6RJE63 img, .astro-ES6RJE63 svg, .astro-ES6RJE63 video, .astro-ES6RJE63 canvas, .astro-ES6RJE63 audio, .astro-ES6RJE63 iframe, .astro-ES6RJE63 embed, .astro-ES6RJE63 object {
    display: block;
    vertical-align: middle;
  }
  .astro-ES6RJE63 img, .astro-ES6RJE63 video {
    max-width: 100%;
    height: auto;
  }
  .astro-ES6RJE63 [hidden] {
    display: none;
  }
  .astro-ES6RJE63 *, .astro-ES6RJE63 :before, .astro-ES6RJE63 :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
  }
  .astro-ES6RJE63 ::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
  }
  .astro-ES6RJE63 .\!visible {
    visibility: visible !important;
  }
  .astro-ES6RJE63 .invisible {
    visibility: hidden;
  }
  .astro-ES6RJE63 .fixed {
    position: fixed;
  }
  .astro-ES6RJE63 .absolute {
    position: absolute;
  }
  .astro-ES6RJE63 .relative {
    position: relative;
  }
  .astro-ES6RJE63 .inset-0 {
    inset: 0;
  }
  .astro-ES6RJE63 .inset-x-6 {
    left: 1.5rem;
    right: 1.5rem;
  }
  .astro-ES6RJE63 .bottom-6 {
    bottom: 1.5rem;
  }
  .astro-ES6RJE63 .left-0 {
    left: 0;
  }
  .astro-ES6RJE63 .top-full {
    top: 100%;
  }
  .astro-ES6RJE63 .z-10 {
    z-index: 10;
  }
  .astro-ES6RJE63 .z-20 {
    z-index: 20;
  }
  .astro-ES6RJE63 .z-40 {
    z-index: 40;
  }
  .astro-ES6RJE63 .m-auto {
    margin: auto;
  }
  .astro-ES6RJE63 .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .astro-ES6RJE63 .my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .astro-ES6RJE63 .-mr-6 {
    margin-right: -1.5rem;
  }
  .astro-ES6RJE63 .mb-12 {
    margin-bottom: 3rem;
  }
  .astro-ES6RJE63 .mb-20 {
    margin-bottom: 5rem;
  }
  .astro-ES6RJE63 .mb-40 {
    margin-bottom: 10rem;
  }
  .astro-ES6RJE63 .mb-8 {
    margin-bottom: 2rem;
  }
  .astro-ES6RJE63 .ml-auto {
    margin-left: auto;
  }
  .astro-ES6RJE63 .mt-12 {
    margin-top: 3rem;
  }
  .astro-ES6RJE63 .mt-16 {
    margin-top: 4rem;
  }
  .astro-ES6RJE63 .mt-2 {
    margin-top: 0.5rem;
  }
  .astro-ES6RJE63 .mt-6 {
    margin-top: 1.5rem;
  }
  .astro-ES6RJE63 .mt-8 {
    margin-top: 2rem;
  }
  .astro-ES6RJE63 .block {
    display: block;
  }
  .astro-ES6RJE63 .inline-block {
    display: inline-block;
  }
  .astro-ES6RJE63 .flex {
    display: flex;
  }
  .astro-ES6RJE63 .grid {
    display: grid;
  }
  .astro-ES6RJE63 .hidden {
    display: none;
  }
  .astro-ES6RJE63 .aspect-auto {
    aspect-ratio: auto;
  }
  .astro-ES6RJE63 .h-0 {
    height: 0px;
  }
  .astro-ES6RJE63 .h-0\.5 {
    height: 0.125rem;
  }
  .astro-ES6RJE63 .h-11 {
    height: 2.75rem;
  }
  .astro-ES6RJE63 .h-12 {
    height: 3rem;
  }
  .astro-ES6RJE63 .h-16 {
    height: 4rem;
  }
  .astro-ES6RJE63 .h-32 {
    height: 8rem;
  }
  .astro-ES6RJE63 .h-4 {
    height: 1rem;
  }
  .astro-ES6RJE63 .h-5 {
    height: 1.25rem;
  }
  .astro-ES6RJE63 .h-56 {
    height: 14rem;
  }
  .astro-ES6RJE63 .h-6 {
    height: 1.5rem;
  }
  .astro-ES6RJE63 .h-64 {
    height: 16rem;
  }
  .astro-ES6RJE63 .h-8 {
    height: 2rem;
  }
  .astro-ES6RJE63 .h-9 {
    height: 2.25rem;
  }
  .astro-ES6RJE63 .h-max {
    height: -moz-max-content;
    height: max-content;
  }
  .astro-ES6RJE63 .h-screen {
    height: 100vh;
  }
  .astro-ES6RJE63 .max-h-10 {
    max-height: 2.5rem;
  }
  .astro-ES6RJE63 .w-10\/12 {
    width: 83.333333%;
  }
  .astro-ES6RJE63 .w-12 {
    width: 3rem;
  }
  .astro-ES6RJE63 .w-16 {
    width: 4rem;
  }
  .astro-ES6RJE63 .w-2 {
    width: 0.5rem;
  }
  .astro-ES6RJE63 .w-4 {
    width: 1rem;
  }
  .astro-ES6RJE63 .w-5 {
    width: 1.25rem;
  }
  .astro-ES6RJE63 .w-5\/6 {
    width: 83.333333%;
  }
  .astro-ES6RJE63 .w-6 {
    width: 1.5rem;
  }
  .astro-ES6RJE63 .w-8 {
    width: 2rem;
  }
  .astro-ES6RJE63 .w-auto {
    width: auto;
  }
  .astro-ES6RJE63 .w-full {
    width: 100%;
  }
  .astro-ES6RJE63 .w-max {
    width: -moz-max-content;
    width: max-content;
  }
  .astro-ES6RJE63 .w-screen {
    width: 100vw;
  }
  .astro-ES6RJE63 .max-w-7xl {
    max-width: 80rem;
  }
  .astro-ES6RJE63 .origin-bottom {
    transform-origin: bottom;
  }
  .astro-ES6RJE63 .origin-top {
    transform-origin: top;
  }
  .astro-ES6RJE63 .origin-top-right {
    transform-origin: top right;
  }
  .astro-ES6RJE63 .-translate-x-4 {
    --tw-translate-x: -1rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .-translate-y-1 {
    --tw-translate-y: -.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .translate-y-1 {
    --tw-translate-y: .25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .translate-y-1\.5 {
    --tw-translate-y: .375rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .\!scale-100 {
    --tw-scale-x: 1 !important;
    --tw-scale-y: 1 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }
  .astro-ES6RJE63 .scale-90 {
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .scale-y-0 {
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .scale-y-100 {
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .list-inside {
    list-style-position: inside;
  }
  .astro-ES6RJE63 .list-disc {
    list-style-type: disc;
  }
  .astro-ES6RJE63 .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .astro-ES6RJE63 .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .astro-ES6RJE63 .flex-row-reverse {
    flex-direction: row-reverse;
  }
  .astro-ES6RJE63 .flex-col {
    flex-direction: column;
  }
  .astro-ES6RJE63 .flex-wrap {
    flex-wrap: wrap;
  }
  .astro-ES6RJE63 .items-center {
    align-items: center;
  }
  .astro-ES6RJE63 .justify-end {
    justify-content: flex-end;
  }
  .astro-ES6RJE63 .justify-center {
    justify-content: center;
  }
  .astro-ES6RJE63 .justify-between {
    justify-content: space-between;
  }
  .astro-ES6RJE63 .gap-2 {
    gap: 0.5rem;
  }
  .astro-ES6RJE63 .gap-3 {
    gap: 0.75rem;
  }
  .astro-ES6RJE63 .gap-4 {
    gap: 1rem;
  }
  .astro-ES6RJE63 .gap-6 {
    gap: 1.5rem;
  }
  .astro-ES6RJE63 .gap-8 {
    gap: 2rem;
  }
  .astro-ES6RJE63 .gap-x-6 {
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
  .astro-ES6RJE63 .gap-y-4 {
    row-gap: 1rem;
  }
  .astro-ES6RJE63 .-space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-.5rem * var(--tw-space-x-reverse));
    margin-left: calc(-.5rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .astro-ES6RJE63 .-space-x-52 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-13rem * var(--tw-space-x-reverse));
    margin-left: calc(-13rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .astro-ES6RJE63 .space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.25rem * var(--tw-space-x-reverse));
    margin-left: calc(.25rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .astro-ES6RJE63 .space-x-12 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .astro-ES6RJE63 .space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .astro-ES6RJE63 .space-x-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.75rem * var(--tw-space-x-reverse));
    margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .astro-ES6RJE63 .space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
  }
  .astro-ES6RJE63 .space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
  .astro-ES6RJE63 .space-y-40 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(10rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(10rem * var(--tw-space-y-reverse));
  }
  .astro-ES6RJE63 .space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }
  .astro-ES6RJE63 .space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }
  .astro-ES6RJE63 .divide-x > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  }
  .astro-ES6RJE63 .divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  }
  .astro-ES6RJE63 .divide-gray-100 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(233 233 236/var(--tw-divide-opacity));
  }
  .astro-ES6RJE63 .overflow-hidden {
    overflow: hidden;
  }
  .astro-ES6RJE63 .rounded {
    border-radius: 0.25rem;
  }
  .astro-ES6RJE63 .rounded-2xl {
    border-radius: 1rem;
  }
  .astro-ES6RJE63 .rounded-3xl {
    border-radius: 1.5rem;
  }
  .astro-ES6RJE63 .rounded-full {
    border-radius: 9999px;
  }
  .astro-ES6RJE63 .rounded-xl {
    border-radius: 0.75rem;
  }
  .astro-ES6RJE63 .border {
    border-width: 1px;
  }
  .astro-ES6RJE63 .border-y {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
  .astro-ES6RJE63 .border-b {
    border-bottom-width: 1px;
  }
  .astro-ES6RJE63 .border-black\/5 {
    border-color: #0000000d;
  }
  .astro-ES6RJE63 .border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(233 233 236/var(--tw-border-opacity));
  }
  .astro-ES6RJE63 .border-yellow-900\/30 {
    border-color: #713f124d;
  }
  .astro-ES6RJE63 .bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 252/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .bg-indigo-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(147 51 234/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .bg-primary\/20 {
    background-color: #9333ea33;
  }
  .astro-ES6RJE63 .bg-sky-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(12 74 110/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .bg-teal-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(204 251 241/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .bg-white\/70 {
    background-color: #ffffffb3;
  }
  .astro-ES6RJE63 .bg-opacity-50 {
    --tw-bg-opacity: .5;
  }
  .astro-ES6RJE63 .bg-gradient-to-br {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  }
  .astro-ES6RJE63 .bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }
  .astro-ES6RJE63 .from-cyan-400 {
    --tw-gradient-from: #22d3ee var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgb(34 211 238 / 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  .astro-ES6RJE63 .from-primary {
    --tw-gradient-from: #9333EA var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgb(147 51 234 / 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  .astro-ES6RJE63 .from-white\/50 {
    --tw-gradient-from: rgb(255 255 255 / .5) var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  .astro-ES6RJE63 .to-purple-400 {
    --tw-gradient-to: #c084fc var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
  }
  .astro-ES6RJE63 .to-sky-300 {
    --tw-gradient-to: #7dd3fc var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
  }
  .astro-ES6RJE63 .to-yellow-100 {
    --tw-gradient-to: #fef9c3 var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
  }
  .astro-ES6RJE63 .object-cover {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .astro-ES6RJE63 .object-top {
    -o-object-position: top;
    object-position: top;
  }
  .astro-ES6RJE63 .p-3 {
    padding: 0.75rem;
  }
  .astro-ES6RJE63 .p-4 {
    padding: 1rem;
  }
  .astro-ES6RJE63 .p-6 {
    padding: 1.5rem;
  }
  .astro-ES6RJE63 .p-8 {
    padding: 2rem;
  }
  .astro-ES6RJE63 .px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .astro-ES6RJE63 .px-1\.5 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }
  .astro-ES6RJE63 .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .astro-ES6RJE63 .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .astro-ES6RJE63 .px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .astro-ES6RJE63 .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .astro-ES6RJE63 .py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }
  .astro-ES6RJE63 .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .astro-ES6RJE63 .py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .astro-ES6RJE63 .py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .astro-ES6RJE63 .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .astro-ES6RJE63 .py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .astro-ES6RJE63 .pt-36 {
    padding-top: 9rem;
  }
  .astro-ES6RJE63 .pt-4 {
    padding-top: 1rem;
  }
  .astro-ES6RJE63 .text-left {
    text-align: left;
  }
  .astro-ES6RJE63 .text-center {
    text-align: center;
  }
  .astro-ES6RJE63 .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .astro-ES6RJE63 .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .astro-ES6RJE63 .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .astro-ES6RJE63 .text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .astro-ES6RJE63 .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .astro-ES6RJE63 .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .astro-ES6RJE63 .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .astro-ES6RJE63 .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .astro-ES6RJE63 .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .astro-ES6RJE63 .font-bold {
    font-weight: 700;
  }
  .astro-ES6RJE63 .font-medium {
    font-weight: 500;
  }
  .astro-ES6RJE63 .font-semibold {
    font-weight: 600;
  }
  .astro-ES6RJE63 .tracking-wide {
    letter-spacing: 0.025em;
  }
  .astro-ES6RJE63 .tracking-wider {
    letter-spacing: 0.05em;
  }
  .astro-ES6RJE63 .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(119 124 135/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(93 99 112/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(67 73 89/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(41 48 65/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-indigo-500 {
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-info {
    --tw-text-opacity: 1;
    color: rgb(12 99 231/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-primary {
    --tw-text-opacity: 1;
    color: rgb(147 51 234/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-purple-700 {
    --tw-text-opacity: 1;
    color: rgb(126 34 206/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-secondary {
    --tw-text-opacity: 1;
    color: rgb(255 126 51/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-sky-500 {
    --tw-text-opacity: 1;
    color: rgb(14 165 233/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-teal-600 {
    --tw-text-opacity: 1;
    color: rgb(13 148 136/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-yellow-600 {
    --tw-text-opacity: 1;
    color: rgb(202 138 4/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .text-yellow-900 {
    --tw-text-opacity: 1;
    color: rgb(113 63 18/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .\!opacity-100 {
    opacity: 1 !important;
  }
  .astro-ES6RJE63 .opacity-0 {
    opacity: 0;
  }
  .astro-ES6RJE63 .opacity-40 {
    opacity: 0.4;
  }
  .astro-ES6RJE63 .shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .astro-ES6RJE63 .shadow-gray-600\/10 {
    --tw-shadow-color: rgb(93 99 112 / .1);
    --tw-shadow: var(--tw-shadow-colored);
  }
  .astro-ES6RJE63 .shadow-yellow-900\/50 {
    --tw-shadow-color: rgb(113 63 18 / .5);
    --tw-shadow: var(--tw-shadow-colored);
  }
  .astro-ES6RJE63 .blur-\[106px\] {
    --tw-blur: blur(106px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
  .astro-ES6RJE63 .grayscale {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
  .astro-ES6RJE63 .backdrop-blur-2xl {
    --tw-backdrop-blur: blur(40px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }
  .astro-ES6RJE63 .backdrop-blur-xl {
    --tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }
  .astro-ES6RJE63 .transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  .astro-ES6RJE63 .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  .astro-ES6RJE63 .duration-200 {
    transition-duration: 0.2s;
  }
  .astro-ES6RJE63 .duration-300 {
    transition-duration: 0.3s;
  }
  .astro-ES6RJE63 .duration-500 {
    transition-duration: 0.5s;
  }
  .astro-ES6RJE63 .before\:absolute:before {
    content: var(--tw-content);
    position: absolute;
  }
  .astro-ES6RJE63 .before\:inset-0:before {
    content: var(--tw-content);
    inset: 0;
  }
  .astro-ES6RJE63 .before\:rounded-full:before {
    content: var(--tw-content);
    border-radius: 9999px;
  }
  .astro-ES6RJE63 .before\:border:before {
    content: var(--tw-content);
    border-width: 1px;
  }
  .astro-ES6RJE63 .before\:border-transparent:before {
    content: var(--tw-content);
    border-color: transparent;
  }
  .astro-ES6RJE63 .before\:bg-primary:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(147 51 234/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .before\:bg-primary\/10:before {
    content: var(--tw-content);
    background-color: #9333ea1a;
  }
  .astro-ES6RJE63 .before\:bg-gradient-to-b:before {
    content: var(--tw-content);
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  }
  .astro-ES6RJE63 .before\:transition:before {
    content: var(--tw-content);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  .astro-ES6RJE63 .before\:duration-300:before {
    content: var(--tw-content);
    transition-duration: 0.3s;
  }
  .astro-ES6RJE63 .hover\:z-\[1\]:hover {
    z-index: 1;
  }
  .astro-ES6RJE63 .hover\:text-primary:hover {
    --tw-text-opacity: 1;
    color: rgb(147 51 234/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .hover\:shadow-2xl:hover {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .astro-ES6RJE63 .hover\:shadow-gray-600\/10:hover {
    --tw-shadow-color: rgb(93 99 112 / .1);
    --tw-shadow: var(--tw-shadow-colored);
  }
  .astro-ES6RJE63 .hover\:grayscale-0:hover {
    --tw-grayscale: grayscale(0);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
  .astro-ES6RJE63 .hover\:before\:scale-105:hover:before {
    content: var(--tw-content);
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .active\:duration-75:active {
    transition-duration: 75ms;
  }
  .astro-ES6RJE63 .active\:before\:scale-95:active:before {
    content: var(--tw-content);
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .group:hover .group-hover\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .group:hover .group-hover\:scale-105 {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .group:hover .group-hover\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
  }
  .astro-ES6RJE63 .group:hover .group-hover\:text-secondary {
    --tw-text-opacity: 1;
    color: rgb(255 126 51/var(--tw-text-opacity));
  }
  .astro-ES6RJE63 .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }
  @media (prefers-color-scheme: dark) {
    .astro-ES6RJE63 .dark\:divide-gray-700 > :not([hidden]) ~ :not([hidden]) {
      --tw-divide-opacity: 1;
      border-color: rgb(67 73 89/var(--tw-divide-opacity));
    }
    .astro-ES6RJE63 .dark\:divide-gray-800 > :not([hidden]) ~ :not([hidden]) {
      --tw-divide-opacity: 1;
      border-color: rgb(41 48 65/var(--tw-divide-opacity));
    }
    .astro-ES6RJE63 .dark\:border-gray-700 {
      --tw-border-opacity: 1;
      border-color: rgb(67 73 89/var(--tw-border-opacity));
    }
    .astro-ES6RJE63 .dark\:border-gray-800 {
      --tw-border-opacity: 1;
      border-color: rgb(41 48 65/var(--tw-border-opacity));
    }
    .astro-ES6RJE63 .dark\:border-white\/10 {
      border-color: #ffffff1a;
    }
    .astro-ES6RJE63 .dark\:border-white\/5 {
      border-color: #ffffff0d;
    }
    .astro-ES6RJE63 .dark\:bg-gray-300 {
      --tw-bg-opacity: 1;
      background-color: rgb(172 174 182/var(--tw-bg-opacity));
    }
    .astro-ES6RJE63 .dark\:bg-gray-800 {
      --tw-bg-opacity: 1;
      background-color: rgb(41 48 65/var(--tw-bg-opacity));
    }
    .astro-ES6RJE63 .dark\:bg-gray-900 {
      --tw-bg-opacity: 1;
      background-color: rgb(15 23 42/var(--tw-bg-opacity));
    }
    .astro-ES6RJE63 .dark\:bg-gray-900\/70 {
      background-color: #0f172ab3;
    }
    .astro-ES6RJE63 .dark\:bg-indigo-900\/20 {
      background-color: #312e8133;
    }
    .astro-ES6RJE63 .dark\:bg-teal-900\/20 {
      background-color: #134e4a33;
    }
    .astro-ES6RJE63 .dark\:bg-white {
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255/var(--tw-bg-opacity));
    }
    .astro-ES6RJE63 .dark\:bg-white\/10 {
      background-color: #ffffff1a;
    }
    .astro-ES6RJE63 .dark\:from-blue-700 {
      --tw-gradient-from: #1d4ed8 var(--tw-gradient-from-position);
      --tw-gradient-from-position: ;
      --tw-gradient-to: rgb(29 78 216 / 0) var(--tw-gradient-from-position);
      --tw-gradient-to-position: ;
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
    .astro-ES6RJE63 .dark\:from-gray-800 {
      --tw-gradient-from: #293041 var(--tw-gradient-from-position);
      --tw-gradient-from-position: ;
      --tw-gradient-to: rgb(41 48 65 / 0) var(--tw-gradient-from-position);
      --tw-gradient-to-position: ;
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
    .astro-ES6RJE63 .dark\:to-black\/70 {
      --tw-gradient-to: rgb(0 0 0 / .7) var(--tw-gradient-to-position);
      --tw-gradient-to-position: ;
    }
    .astro-ES6RJE63 .dark\:to-indigo-600 {
      --tw-gradient-to: #4f46e5 var(--tw-gradient-to-position);
      --tw-gradient-to-position: ;
    }
    .astro-ES6RJE63 .dark\:text-blue-300 {
      --tw-text-opacity: 1;
      color: rgb(147 197 253/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-gray-200 {
      --tw-text-opacity: 1;
      color: rgb(198 200 205/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-gray-300 {
      --tw-text-opacity: 1;
      color: rgb(172 174 182/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-gray-400 {
      --tw-text-opacity: 1;
      color: rgb(146 149 159/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-indigo-300 {
      --tw-text-opacity: 1;
      color: rgb(165 180 252/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-indigo-400 {
      --tw-text-opacity: 1;
      color: rgb(129 140 248/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-orange-300 {
      --tw-text-opacity: 1;
      color: rgb(253 186 116/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-teal-300 {
      --tw-text-opacity: 1;
      color: rgb(94 234 212/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-teal-400 {
      --tw-text-opacity: 1;
      color: rgb(45 212 191/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-white {
      --tw-text-opacity: 1;
      color: rgb(255 255 255/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:text-yellow-500 {
      --tw-text-opacity: 1;
      color: rgb(234 179 8/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .dark\:opacity-20 {
      opacity: 0.2;
    }
    .astro-ES6RJE63 .dark\:shadow-none {
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .astro-ES6RJE63 .dark\:shadow-primary\/50 {
      --tw-shadow-color: rgb(147 51 234 / .5);
      --tw-shadow: var(--tw-shadow-colored);
    }
    .astro-ES6RJE63 .dark\:before\:border-gray-700:before {
      content: var(--tw-content);
      --tw-border-opacity: 1;
      border-color: rgb(67 73 89/var(--tw-border-opacity));
    }
    .astro-ES6RJE63 .dark\:before\:bg-gray-800:before {
      content: var(--tw-content);
      --tw-bg-opacity: 1;
      background-color: rgb(41 48 65/var(--tw-bg-opacity));
    }
    .astro-ES6RJE63 .dark\:hover\:text-white:hover {
      --tw-text-opacity: 1;
      color: rgb(255 255 255/var(--tw-text-opacity));
    }
    .astro-ES6RJE63 .group:hover .dark\:group-hover\:bg-gray-800 {
      --tw-bg-opacity: 1;
      background-color: rgb(41 48 65/var(--tw-bg-opacity));
    }
  }
  @media (min-width: 640px) {
    .astro-ES6RJE63 .sm\:mt-auto {
      margin-top: auto;
    }
    .astro-ES6RJE63 .sm\:flex {
      display: flex;
    }
    .astro-ES6RJE63 .sm\:w-5\/12 {
      width: 41.666667%;
    }
    .astro-ES6RJE63 .sm\:w-7\/12 {
      width: 58.333333%;
    }
    .astro-ES6RJE63 .sm\:w-max {
      width: -moz-max-content;
      width: max-content;
    }
    .astro-ES6RJE63 .sm\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .astro-ES6RJE63 .sm\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .astro-ES6RJE63 .sm\:p-8 {
      padding: 2rem;
    }
    .astro-ES6RJE63 .sm\:text-left {
      text-align: left;
    }
  }
  @media (min-width: 768px) {
    .astro-ES6RJE63 .md\:flex {
      display: flex;
    }
    .astro-ES6RJE63 .md\:w-10\/12 {
      width: 83.333333%;
    }
    .astro-ES6RJE63 .md\:w-2\/3, .astro-ES6RJE63 .md\:w-8\/12 {
      width: 66.666667%;
    }
    .astro-ES6RJE63 .md\:columns-2 {
      -moz-columns: 2;
      columns: 2;
    }
    .astro-ES6RJE63 .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .astro-ES6RJE63 .md\:grid-cols-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .astro-ES6RJE63 .md\:flex-nowrap {
      flex-wrap: nowrap;
    }
    .astro-ES6RJE63 .md\:items-center {
      align-items: center;
    }
    .astro-ES6RJE63 .md\:justify-start {
      justify-content: flex-start;
    }
    .astro-ES6RJE63 .md\:gap-0 {
      gap: 0px;
    }
    .astro-ES6RJE63 .md\:gap-6 {
      gap: 1.5rem;
    }
    .astro-ES6RJE63 .md\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(0px * var(--tw-space-y-reverse));
    }
    .astro-ES6RJE63 .md\:px-0 {
      padding-left: 0;
      padding-right: 0;
    }
    .astro-ES6RJE63 .md\:px-12 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .astro-ES6RJE63 .md\:px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .astro-ES6RJE63 .md\:py-4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .astro-ES6RJE63 .md\:py-40 {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
    .astro-ES6RJE63 .md\:text-4xl {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    .astro-ES6RJE63 .md\:text-5xl {
      font-size: 3rem;
      line-height: 1;
    }
    .astro-ES6RJE63 .md\:text-6xl {
      font-size: 3.75rem;
      line-height: 1;
    }
  }
  @media (min-width: 1024px) {
    .astro-ES6RJE63 .lg\:visible {
      visibility: visible;
    }
    .astro-ES6RJE63 .lg\:relative {
      position: relative;
    }
    .astro-ES6RJE63 .lg\:mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .astro-ES6RJE63 .lg\:mt-0 {
      margin-top: 0;
    }
    .astro-ES6RJE63 .lg\:flex {
      display: flex;
    }
    .astro-ES6RJE63 .lg\:hidden {
      display: none;
    }
    .astro-ES6RJE63 .lg\:w-1\/2 {
      width: 50%;
    }
    .astro-ES6RJE63 .lg\:w-2\/3 {
      width: 66.666667%;
    }
    .astro-ES6RJE63 .lg\:w-6\/12 {
      width: 50%;
    }
    .astro-ES6RJE63 .lg\:w-7\/12 {
      width: 58.333333%;
    }
    .astro-ES6RJE63 .lg\:w-8\/12 {
      width: 66.666667%;
    }
    .astro-ES6RJE63 .lg\:w-auto {
      width: auto;
    }
    .astro-ES6RJE63 .lg\:w-max {
      width: -moz-max-content;
      width: max-content;
    }
    .astro-ES6RJE63 .lg\:translate-y-0 {
      --tw-translate-y: 0px;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .astro-ES6RJE63 .lg\:scale-100 {
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .astro-ES6RJE63 .lg\:columns-3 {
      -moz-columns: 3;
      columns: 3;
    }
    .astro-ES6RJE63 .lg\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .astro-ES6RJE63 .lg\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .astro-ES6RJE63 .lg\:flex-row {
      flex-direction: row;
    }
    .astro-ES6RJE63 .lg\:items-center {
      align-items: center;
    }
    .astro-ES6RJE63 .lg\:gap-0 {
      gap: 0px;
    }
    .astro-ES6RJE63 .lg\:gap-12 {
      gap: 3rem;
    }
    .astro-ES6RJE63 .lg\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
      --tw-divide-y-reverse: 0;
      border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
      border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
    }
    .astro-ES6RJE63 .lg\:border-none {
      border-style: none;
    }
    .astro-ES6RJE63 .lg\:border-transparent {
      border-color: transparent;
    }
    .astro-ES6RJE63 .lg\:bg-transparent {
      background-color: transparent;
    }
    .astro-ES6RJE63 .lg\:p-0 {
      padding: 0;
    }
    .astro-ES6RJE63 .lg\:pr-4 {
      padding-right: 1rem;
    }
    .astro-ES6RJE63 .lg\:pt-0 {
      padding-top: 0;
    }
    .astro-ES6RJE63 .lg\:text-sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    .astro-ES6RJE63 .lg\:opacity-100 {
      opacity: 1;
    }
    .astro-ES6RJE63 .lg\:shadow-none {
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  }
  @media (min-width: 1280px) {
    .astro-ES6RJE63 .xl\:w-6\/12 {
      width: 50%;
    }
    .astro-ES6RJE63 .xl\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .astro-ES6RJE63 .xl\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .astro-ES6RJE63 .xl\:text-7xl {
      font-size: 4.5rem;
      line-height: 1;
    }
  }
  .astro-ES6RJE63 #toggle_nav:where(.astro-ES6RJE63):checked ~ div:where(.astro-ES6RJE63) #hamburger:where(.astro-ES6RJE63) #line:where(.astro-ES6RJE63) {
    --tw-translate-y: .375rem;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 #toggle_nav:where(.astro-ES6RJE63):checked ~ div:where(.astro-ES6RJE63) #hamburger:where(.astro-ES6RJE63) #line2:where(.astro-ES6RJE63) {
    --tw-translate-y: -.25rem;
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .toggled:where(.astro-ES6RJE63) div:where(.astro-ES6RJE63):first-child {
    --tw-translate-y: .375rem;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 .toggled:where(.astro-ES6RJE63) div:where(.astro-ES6RJE63):last-child {
    --tw-translate-y: -.25rem;
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .astro-ES6RJE63 html {
    font-family: Urbanist, sans-serif;
    scroll-behavior: smooth;
  }
  .astro-ES6RJE63 body {
    margin: 0;
  }